{% extends 'base.html' %}
{% block content %}
<h2>قائمة العقارات</h2>
<a href="{% url 'property_create' %}" class="btn btn-primary">إضافة عقار جديد</a>
<table class="table">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>الموقع</th>
      <th>السعر</th>
      <th>النوع</th>
      <th>الحالة</th>
      <th>الاجراءات</th>
    </tr>
  </thead>
  <tbody>
    {% for property in properties %}
    <tr>
      <td><a href="{% url 'property_detail' property.pk %}" >{{ property.name }}</a></td>
      <td>{{ property.location }}</td>
      <td>{{ property.price }}</td>
      <td>{{ property.property_type }}</td>
      <td>{{ property.status }}</td>
      <td>
        <a href="{% url 'property_update' property.id %}" class="btn btn-warning">تعديل</a>
        <form action="{% url 'property_delete' property.id %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">حذف</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul>
  {% for property in properties %}
  <li>
    <a href="{% url 'property_detail' property.pk %}">{{ property.name }}</a>{{ property.location }} - {{ property.price }} ريال
  </li>
  {% endfor %}
</ul>
{% endblock %}