<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ property.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>{{ property.name }}</h1>
      <img src="{{ property.image.url }}" alt="صورة العقار" class="img-fluid">
      <p>الموقع: {{ property.location }}</p>
      <p>السعر: {{ property.price }}</p>
      <p>عدد الغرف: {{ property.rooms }}</p>
      <p>نوع القار: {{ property.get_property_display }}</p>
      <p>الوصف: {{ property.description }}</p>
      <p>الحالة: {{ property.get_status_display }}</p>
    </div>
  </body>
</html>