<!DOCTYP html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قائمة العقارات</title>
    <style>
      body {
        direction: rtl;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h1>قائمة العقارات</h1>
    <ul>
      {% for property in properties %}
      <li><a href="{% url 'property_detail' property.id %}">{{ property.name }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>